.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  padding: var(--sp-xxl) var(--sp-lg);
  gap: var(--sp-xxl);
  justify-content: center;
  margin-top: 17rem;
}
.category {
  height: 12rem;
  box-shadow: var(--shadow-white);
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  background: var(--fo);
  transition: 150ms;
  overflow: hidden;
}
.category:hover {
  box-shadow: var(--shadow-hover);
}
.category .overlay {
  background-image: var(--overlay-dark);
}
.category h5 {
  position: absolute;
  color: var(--font-10);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.main-banner {
  width: 100%;
  height: 28rem;
  position: relative;
  overflow: hidden;
  margin: var(--sp-lg);
  border-radius: 5px;
}
.main-banner .overlay {
  background-image: var(--overlay-dark);
}
.main-banner h2 {
  color: var(--font-10);
}
.main-banner p {
  font-size: 1.7rem;
  color: var(--font-10);
}
.main-banner .content {
  text-align: center;
  width: 100%;
  padding: var(--sp-xl);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-banner .offer {
  font-size: 2.4rem;
  font-weight: 700;
}
.main-banner .btn {
  font-size: 1.8rem;
}
section {
  margin: 2rem;
}
.section-head {
  margin-bottom: 1rem;
}
.brand {
  margin: var(--sp-sm) var(--sp-lg);
  cursor: pointer;
}
footer {
  padding: var(--sp-xxl);
  background-color: var(--primary-hover);
  box-shadow: var(--shadow-white);
}
footer h5 {
  margin: var(--sp-lg) 0;
}

@media screen and (min-width: 760px) {
  .category-container {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin-top: 10rem;
  }
  .category {
    height: 18rem;
  }
  .main-banner {
    height: 40rem;
  }
}
