.close-icon {
  margin-bottom: var(--sp-xxl);
  margin-left: auto;
  display: block;
  cursor: pointer;
}
.close-icon * {
  font-size: 2rem;
}
.products-container {
  margin-top: 17rem;
}
.products {
  padding: var(--sp-xxl);
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sidebar {
  padding: var(--sp-xxl);
  position: fixed;
  width: 60vw;
  z-index: 110;
  top: 0;
  bottom: 0;
  background-color: var(--bg-primary);
  box-shadow: var(--shadow-white);
  transform: translateX(-100%);
  transition: 300ms;
  overflow-y: auto;
}
.sidebar .btn-link {
  color: var(--font-70);
  font-size: 1.2rem;
  text-decoration: underline;
}
.filters-container {
  margin-left: var(--sp-xl);
}
.filters-container h4 {
  margin: var(--sp-lg) 0;
}
.price-range {
  margin: var(--sp-lg) 0;
  padding: var(--sp-sm);
}
.price-range span {
  font-size: 1.1rem;
  color: var(--font-50);
  font-weight: 700;
}
.price-range input {
  margin-top: var(--sp-sm);
}
.filters-container .align-center {
  margin: var(--sp-sm);
}
.filters-container label {
  margin: var(--sp-sm) 0 0 var(--sp-sm);
  font-size: 1.2rem;
  cursor: pointer;
  transition: 250ms;
}
.filters-container label:hover {
  color: var(--primary-100);
}
.show-sidebar {
  transform: translateX(0%);
}
.card {
  width: 70%;
}
.card-cover {
  height: 16rem;
  width: 70%;
  margin: 0 auto;
}
.card-title-container {
  padding: var(--sp-sm) var(--sp-xl);
}
.card .rating {
  padding: 0 var(--sp-xl);
}
.card .rating * {
  font-size: 2rem;
}
.card .rating .filled {
  color: var(--rating-gold);
}
.card .price-old {
  margin: 0 3px;
}
.card-subtitle {
  margin-bottom: var(--sp-sm);
}
.card .btn-icon * {
  font-size: 2rem;
}

@media screen and (min-width: 480px) {
  .sidebar {
    width: 50vw;
  }
  .card {
    width: 22rem;
  }
  .card-cover {
    height: 14rem;
  }
}

@media screen and (min-width: 760px) {
  .products-container {
    margin-top: 10rem;
  }
  .sidebar {
    width: 25rem;
    transform: translateX(0);
    box-shadow: none;
    border-right: 2px solid var(--border-white);
    z-index: 1;
    margin-top: 6rem;
  }
  .products {
    margin-left: 28rem;
  }
  .close-icon {
    display: none;
  }
  .card {
    width: 23rem;
  }
  .card-cover {
    height: 15rem;
  }
}
